<header>

</header>

<body>
  <div id="main-container">
    <div id='lightblue-container'>
      <h5>
        <h1><u><b> Nutrition & Sustainability </b></u></h1>
        <h4> <i> So much sustain, so hip, feed your inner edgelord </i></h4>
        Cricket flour is valued because it is gluten-free and high in protein
        <br><br>
        A serving of cricket powder is two tablespoons (12 grams) and contains about:<br><br>
        <ul>

          <li> 55 calories</li>
          <li> 0.8 grams carbohydrates</li>
          <li> 7 grams of protein</li>
          <li> 2 grams of fat</li>
          <li> 4 percent DV iron</li>
          <li> 2 percent DV calcium</li>
          <li> 17 percent DV vitamin B12</li>
          <li> 23 percent DV vitamin B2</li>

        </ul>
        <!-- 
        Cricket protein powder is also a good source of iron and calcium. Iron-rich foods provide energy, boost muscle
        function and promote brain function. Consuming enough iron is also very important for women who are pregnant.
        Calcium-rich foods help to reduce blood pressure, promote bone health, support weight management and may even
        decrease the risk or colon and rectal cancers. <br><br> -->

        <br>
      </h5>
    </div>
    <div id="darkblue-container">
      <br><br>
      <h2> <b> Cricket protein vs. Beef and Other Protein Sources</b> </h2><br>
      <h5>
        <ul>

          <!-- <li>By dry weight, a single cricket ranges between 65–70 percent pure protein, while beef is only 17–40
            percent
            protein.</li><br> -->

          <!-- <li>A 200 calorie serving of cricket flour contains about 31 grams of protein, 8 grams of fat, 1.8 grams
            omega-3,
            7
            grams fiber.</li><br>

          <li>A 200 calorie serving of beef contains about 22.4 grams protein, 11 grams of fat, 0.04 grams omega-3, 0
            grams
            fiber.</li><br>

          <li>A 200 calorie serving of eggs contains about 19 grams protein, 15 grams of fat, 0.1 grams omega-3, 0
            grams
            fiber.</li><br>

          <li>To get one pound of protein, about 2,500 gallons of water is required for cattle, 800 gallons for pigs,
            567
            for
            chickens and 1 gallon for crickets.</li><br>

          <li><b>Crickets require about 6 times less feeding than cattle, 4 times less than sheep and 2 times less
              than
              pigs to
              produce the same amount of protein.</b></li><br> -->

        </ul>
      </h5>
    </div>
    <br>

    <div id="green-container">
      <h2> <b> Sustainability </b></h2>

      <h5>Cricket flour is emerging as a new source of protein for athletes and people who are looking for a more
        sustainable option. </h5>
    </div>
  </div>
</body>
