<header>
  <h1> Nutrition & Sustainability </h1>
  <h3> So much sustain, so hip, edgelord status</h3>
</header>

<body>
  <h5>
    Cricket flour is valued because it is gluten-free and high in protein. The benefits of eating more high protein
    foods include improved muscle mass, weight management, stabilized blood sugar levels, improved mood, healthy brain
    and heart function, and slower aging.

    Cricket protein powder is also a good source of iron and calcium. Iron-rich foods provide energy, boost muscle
    function and promote brain function. Consuming enough iron is also very important for women who are pregnant.
    Calcium-rich foods help to reduce blood pressure, promote bone health, support weight management and may even
    decrease the risk or colon and rectal cancers. (2)
  </h5>
  <h5>A serving of cricket powder is two tablespoons (12 grams) and contains about:

    <ul>

      <li> 55 calories</li>
      <li> 0.8 grams carbohydrates</li>
      <li> 7 grams of protein</li>
      <li> 2 grams of fat</li>
      <li> 4 percent DV iron</li>
      <li> 2 percent DV calcium</li>
      <li> 17 percent DV vitamin B12</li>
      <li> 23 percent DV vitamin B2</li>

    </ul>
  </h5>
</body>
