<div class="container image-container">
  <div class="row">

    <div class="col-6">
      <div class="product-image">
          <img src="https://cdn.shopify.com/s/files/1/0003/5933/3902/products/PDP_DRINK_CACAO_03-med_100x75_crop_center.jpg?v=1532466828">
      </div>
      
    </div>

    <div class="col-6">
      <div class="product-image">
        <img src="https://cdn.shopify.com/s/files/1/0003/5933/3902/products/PDP_POWDER_CACAOPOUCH_01-low_100x75_crop_center.jpg?v=1532467156">
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-6">
      <h4>
         Crickeat Protein Bar
      </h4>
    </div>

    <div class="col-6">
      <h4>
        Crickeat Powder
      </h4>
      <p>
        With 80 grams of protein, ready to xwy
      </p>
    </div>
    
  </div>
</div>