<div class="container image-container">
  <div class="row">

    <div class="col-6">
      <div class="product-image">
          <img src="https://files.slack.com/files-pri/T02CQ4EN4-FCPQ01APL/exo-sample-special-bars_e5e11dfa-9dad-46a8-b616-dca39a86aa40_1024x1024.png">
      </div>
      
    </div>

    <div class="col-6">
      <div class="product-image">
          <img src="https://files.slack.com/files-pri/T02CQ4EN4-FCP70SCAD/untitled-4.png">
      </div>
    </div>
    
  </div>
</div>

<div class="container">
  <div class="row">

    <div class="col-6">
      <div class="product-image">
          <h4>
              Crickeat Protein Bar
           </h4>     
      </div>
    </div>

    <div class="col-6">
      <div class="product-image">
          <h4>
              Crickeat Powder
            </h4>      
      </div>
    </div>
    
  </div>
</div>