.container{
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.content{
    background-image: url("https://files.slack.com/files-pri/T02CQ4EN4-FCPKSNQD9/coast-cricket-chocolate-bar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-10{
    display: flex;
    justify-content: center;
    margin-top: 22%;
    color: whitesmoke;
    font-weight: bold;
    text-shadow: 0 0 3px black;
}