<nav class="navbar navbar-expand-lg navbar-light bg-light"
    style="background-color: #e3f2fd;">
  <!-- <a class="navbar-brand active" href="#">Crickeats </a> -->
  <img class="imgLogo" src="./../../../assets/CrickEATS_.png" alt="Crickeats">  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item abtbtn">
        <a class="nav-link active" href="#"> <b>About</b>  
          <span class="sr-only">
        </span></a>
      </li>
      <li class="nav-item buybtn">
        <a class="nav-link active" href="#"> <b>Buy Now</b>  </a>
      </li>
      
    </ul>
  </div>
</nav>
